
// Fonts
@import url('https://fonts.googleapis.com/css?family=Trirong');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.bounce-enter-active {
  animation: bounce-in 1s;
}
.bounce-leave-active {
  animation: bounce-out 1s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }

 50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}
.logo{
  max-width: 150px;
}
.title{
  font-size: 1.2em;
}
//Vue Toggle Button
.v-switch-label{
  line-height: 35px!important;
  font-size: 1.2em;
}
